<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(255,255,255,0)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	enableLooping="true"
	captionBackColor="rgba(0,0,0,0)"
	imageVAlign="TOP"
	thumbPadding="5"
	thumbSelectedFrameWidth="5"
	thumbCornerRadius="10"
	showImageNumber="false"
	captionHAlign="CENTER"

>
  <image imageURL="images/8R0A4436.jpg"
	thumbURL="thumbs/8R0A4436.jpg"
	linkURL="images/8R0A4436.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\mosaicGeometry5\resources\images\large\8R0A4436.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8R0A4451.jpg"
	thumbURL="thumbs/8R0A4451.jpg"
	linkURL="images/8R0A4451.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\mosaicGeometry5\resources\images\large\8R0A4451.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>