<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showImageNumber="false"
	captionHAlign="CENTER"
	resizeOnImport="true"
	cropToFit="false"
	maxThumbColumns="5"
	thumbPadding="5"
	thumbSelectedFrameWidth="5"
	thumbCornerRadius="10"
	captionBackColor="rgba(0,0,0,0.5)"
	captionBackTopColor="rgba(0,0,0,0.3)"
	enableLooping="true"
	expandInNewPage="AUTO"
	backgroundColor="rgba(255,255,255,0)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	imageVAlign="TOP"
	imageNavPadding="0"
	navButtonIconSize="0"
	imageTransitionTime="0.3"
	imagePreloading="ALL"

>
  <image imageURL="images/_1.jpg"
	thumbURL="thumbs/_1.jpg"
	linkURL="images/_1.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_1.jpg">
    <title><![CDATA[ЗА ГОРИЗОНТ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_2.jpg"
	thumbURL="thumbs/_2.jpg"
	linkURL="images/_2.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_2.jpg">
    <title><![CDATA[ШИПОВНИК]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_3.jpg"
	thumbURL="thumbs/_3.jpg"
	linkURL="images/_3.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_3.jpg">
    <title><![CDATA[В АМЕРИКЕ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_4.jpg"
	thumbURL="thumbs/_4.jpg"
	linkURL="images/_4.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_4.jpg">
    <title><![CDATA[ИЮЛЬ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_5.jpg"
	thumbURL="thumbs/_5.jpg"
	linkURL="images/_5.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_5.jpg">
    <title><![CDATA[ЖАСМИН]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_6.jpg"
	thumbURL="thumbs/_6.jpg"
	linkURL="images/_6.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_6.jpg">
    <title><![CDATA[У МОРЯ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_7.jpg"
	thumbURL="thumbs/_7.jpg"
	linkURL="images/_7.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_7.jpg">
    <title><![CDATA[МАМЕ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_8.jpg"
	thumbURL="thumbs/_8.jpg"
	linkURL="images/_8.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_8.jpg">
    <title><![CDATA[ДОРОГА В КРЫМ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_9.jpg"
	thumbURL="thumbs/_9.jpg"
	linkURL="images/_9.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_9.jpg">
    <title><![CDATA[ВЕЧЕРНИЙ ГОРОД]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_10.jpg"
	thumbURL="thumbs/_10.jpg"
	linkURL="images/_10.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_10.jpg">
    <title><![CDATA[МОРЕ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_11.jpg"
	thumbURL="thumbs/_11.jpg"
	linkURL="images/_11.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_11.jpg">
    <title><![CDATA[ПРАГА]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_12.jpg"
	thumbURL="thumbs/_12.jpg"
	linkURL="images/_12.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_12.jpg">
    <title><![CDATA[МАКОВОЕ ПОЛЕ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_13.jpg"
	thumbURL="thumbs/_13.jpg"
	linkURL="images/_13.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_13.jpg">
    <title><![CDATA[ГОРОД П]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_14.jpg"
	thumbURL="thumbs/_14.jpg"
	linkURL="images/_14.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_14.jpg">
    <title><![CDATA[ГРОЗА]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_15.jpg"
	thumbURL="thumbs/_15.jpg"
	linkURL="images/_15.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_15.jpg">
    <title><![CDATA[О МИШЕ БОГДАНОВЕ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_16.jpg"
	thumbURL="thumbs/_16.jpg"
	linkURL="images/_16.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_16.jpg">
    <title><![CDATA[ПЕРВЫЙ ДЕНЬ ОСЕНИ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_17.jpg"
	thumbURL="thumbs/_17.jpg"
	linkURL="images/_17.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_17.jpg">
    <title><![CDATA[ТРОПИНКА]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_18.jpg"
	thumbURL="thumbs/_18.jpg"
	linkURL="images/_18.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_18.jpg">
    <title><![CDATA[СТРАНСТВИЯ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_19.jpg"
	thumbURL="thumbs/_19.jpg"
	linkURL="images/_19.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\oil\resources\images\large\_19.jpg">
    <title><![CDATA[ГНЕЗДО]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>