<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(255,255,255,0)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	captionBackColor="rgba(0,0,0,0)"
	enableLooping="true"
	imageVAlign="TOP"
	maxThumbColumns="4"
	thumbPadding="5"
	thumbSelectedFrameWidth="5"
	thumbCornerRadius="10"
	showImageNumber="false"
	captionHAlign="CENTER"

>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010133.jpg"
	thumbURL="thumbs/P1010133.jpg"
	linkURL="images/P1010133.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010133.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010142.jpg"
	thumbURL="thumbs/P1010142.jpg"
	linkURL="images/P1010142.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010142.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010143.jpg"
	thumbURL="thumbs/P1010143.jpg"
	linkURL="images/P1010143.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010143.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010145.jpg"
	thumbURL="thumbs/P1010145.jpg"
	linkURL="images/P1010145.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010145.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010146.jpg"
	thumbURL="thumbs/P1010146.jpg"
	linkURL="images/P1010146.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010146.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010147.jpg"
	thumbURL="thumbs/P1010147.jpg"
	linkURL="images/P1010147.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010147.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010149.jpg"
	thumbURL="thumbs/P1010149.jpg"
	linkURL="images/P1010149.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\moebel\resources\images\large\P1010149.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>