<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showImageNumber="false"
	captionHAlign="CENTER"
	maxThumbColumns="5"
	thumbPadding="5"
	thumbSelectedFrameWidth="5"
	thumbCornerRadius="10"
	captionBackColor="rgba(0,0,0,0.5)"
	captionBackTopColor="rgba(0,0,0,0.3)"
	enableLooping="true"
	backgroundColor="rgba(255,255,255,0)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	imageVAlign="TOP"

>
  <image imageURL="images/_1.jpg"
	thumbURL="thumbs/_1.jpg"
	linkURL="images/_1.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_1.jpg">
    <title><![CDATA[Вязанная]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_2.jpg"
	thumbURL="thumbs/_2.jpg"
	linkURL="images/_2.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_2.jpg">
    <title><![CDATA[Королевская]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_3.jpg"
	thumbURL="thumbs/_3.jpg"
	linkURL="images/_3.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_3.jpg">
    <title><![CDATA[Королевская]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_4.jpg"
	thumbURL="thumbs/_4.jpg"
	linkURL="images/_4.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_4.jpg">
    <title><![CDATA[Королевская]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_5.jpg"
	thumbURL="thumbs/_5.jpg"
	linkURL="images/_5.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_5.jpg">
    <title><![CDATA[Сумка-собачка]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_6.jpg"
	thumbURL="thumbs/_6.jpg"
	linkURL="images/_6.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_6.jpg">
    <title><![CDATA[Сумка-собачка]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_7.jpg"
	thumbURL="thumbs/_7.jpg"
	linkURL="images/_7.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_7.jpg">
    <title><![CDATA[Сумка-собачка]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_8.jpg"
	thumbURL="thumbs/_8.jpg"
	linkURL="images/_8.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_8.jpg">
    <title><![CDATA[Шаман]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_9.jpg"
	thumbURL="thumbs/_9.jpg"
	linkURL="images/_9.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_9.jpg">
    <title><![CDATA[Шаман]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_10.jpg"
	thumbURL="thumbs/_10.jpg"
	linkURL="images/_10.jpg"
	linkTarget="_blank"
	sourcePath="D:\Server\domains\annashvedova.loc\www\WHITEGALLERY\bags\winter\resources\images\large\_10.jpg">
    <title><![CDATA[Шаман]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>